In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, mean_squared_error

In [4]:
Dataset = pd.read_csv("/Users/vaishnavikandikonda/Desktop/GIT/Kandikonda-Vaishnavi/ML_Implementation/ML_Algorithams/Dataset/car_evaluation.csv", names=["buying", "maint", "doors", "persons", "lug_boot", "safety","decision"])

Dataset.head(5)

  buying  maint doors persons lug_boot safety decision
0  vhigh  vhigh     2       2    small    low    unacc
1  vhigh  vhigh     2       2    small    med    unacc
2  vhigh  vhigh     2       2    small   high    unacc
3  vhigh  vhigh     2       2      med    low    unacc
4  vhigh  vhigh     2       2      med    med    unacc

In [5]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   decision  1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [6]:
Dataset.describe()

       buying  maint doors persons lug_boot safety decision
count    1728   1728  1728    1728     1728   1728     1728
unique      4      4     4       3        3      3        4
top     vhigh  vhigh     2       2    small    low    unacc
freq      432    432   432     576      576    576     1210

In [7]:
Dataset.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
decision    0
dtype: int64

In [8]:
labelEncoder={}
for i in Dataset.columns:
    labelEncoder[i]=LabelEncoder()
    Dataset[i+"_encoded"] = labelEncoder[i].fit_transform(Dataset[i])

In [9]:
Dataset

,buying,maint,doors,persons,lug_boot,safety,decision,buying_encoded,maint_encoded,doors_encoded,persons_encoded,lug_boot_encoded,safety_encoded,decision_encoded
0,vhigh,vhigh,2,2,small,low,unacc,3,3,0,0,2,1,2
1,vhigh,vhigh,2,2,small,med,unacc,3,3,0,0,2,2,2
2,vhigh,vhigh,2,2,small,high,unacc,3,3,0,0,2,0,2
3,vhigh,vhigh,2,2,med,low,unacc,3,3,0,0,1,1,2
4,vhigh,vhigh,2,2,med,med,unacc,3,3,0,0,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,low,low,5more,more,med,med,good,1,1,3,2,1,2,1
1724,low,low,5more,more,med,high,vgood,1,1,3,2,1,0,3
1725,low,low,5more,more,big,low,unacc,1,1,3,2,0,1,2
1726,low,low,5more,more,big,med,good,1,1,3,2,0,2,1
1727,low,low,5more,more,big,high,vgood,1,1,3,2,0,0,3

In [10]:
X = Dataset[["buying_encoded","maint_encoded", "doors_encoded", "persons_encoded", "lug_boot_encoded", "safety_encoded"]]
Y =Dataset["decision_encoded"]

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=0)

Model = DecisionTreeClassifier()
Model.fit(X_train,y_train)
y_pred = Model .predict(X_test)
y_pred

array([0, 2, 2, 2, 2, 1, 2, 0, 1, 2, 2, 2, 0, 2, 2, 0, 2, 2, 0, 2, 1, 0,
       1, 2, 2, 2, 2, 2, 2, 2, 1, 0, 2, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       3, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0,
       2, 2, 2, 2, 2, 0, 0, 0, 1, 0, 2, 2, 0, 2, 0, 0, 0, 2, 2, 2, 2, 1,
       2, 2, 2, 0, 2, 2, 2, 3, 2, 0, 0, 2, 2, 2, 0, 2, 3, 0, 2, 0, 2, 2,
       2, 2, 2, 0, 2, 1, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 1, 2, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 0, 0, 0, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2,
       2, 2, 2, 2, 0, 0, 0, 2, 0, 2, 1, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 1,
       2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2,
       2, 0, 2, 3, 2, 2, 2, 3, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 1, 0, 1, 0, 0, 2, 2, 2, 0, 2, 2, 0,
       2, 2, 3, 2, 0, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0,
       2, 3, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 1, 1, 2, 0, 2,
       0, 2, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2,
       0, 2, 1, 2, 1, 2, 2, 2, 3, 2, 2, 3, 2, 0, 2, 0, 2, 2, 2, 2, 0, 2,
       2, 0, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 1, 3, 0, 0, 2, 3, 2, 2, 2, 0,
       2, 2, 2, 0, 2, 0, 1, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 3, 2, 2,
       0, 2, 2, 0, 2, 0, 2, 2, 3, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0, 0,
       2, 0, 2, 1, 3, 2, 2, 2, 3, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 0, 0,
       0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 0,
       0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 0, 2, 2, 0, 2, 1, 2, 2, 1,
       2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0, 0])

In [12]:
Model.predict([[3,3,0,0,2,1]]), Model .predict([[3,3,0,0,2,2]]),Model .predict([[1,1,3,2,1,0]]),Model .predict([[1,1,3,2,1,2]])

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

(array([2]), array([2]), array([3]), array([1]))

In [13]:
Accuracy = accuracy_score(y_test,y_pred)

Accuracy

0.9807321772639692

In [14]:
y_pres_train = Model.predict(X_train)

Accuracy_train= accuracy_score(y_train,y_pres_train)

Accuracy_train

1.0

In [15]:
MSE = mean_squared_error(y_test,y_pred)
MSE

0.057803468208092484