In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,mean_squared_error
from sklearn.naive_bayes import GaussianNB
# import gradio as gr

In [2]:
dataset_NB =pd.read_csv("/Users/vaishnavikandikonda/Desktop/GIT/Kandikonda-Vaishnavi/ML_Implementation/ML_Algorithams/Dataset/spam_ham_dataset.csv")

dataset_NB

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [3]:
encoded= {}
for i in dataset_NB.columns:
    encoded[i] = LabelEncoder()
    dataset_NB[i+"_encoded"] = encoded[i].fit_transform(dataset_NB[i])

In [4]:
dataset_NB.head(5)

,Unnamed: 0,label,text,label_num,Unnamed: 0_encoded,label_encoded,text_encoded,label_num_encoded
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,605,0,1209,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,2349,0,1985,0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,3624,0,2774,0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,4685,1,3158,1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,2030,0,3613,0

In [5]:
X = dataset_NB[["Unnamed: 0_encoded","text_encoded","label_num_encoded"]]
Y = dataset_NB["label_encoded"]

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,Y, test_size=0.3,random_state=0)

model = GaussianNB()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 1, 1])

In [7]:
model.predict([[605,1209,0]]),model.predict([[4658,3158,1]])

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

(array([0]), array([1]))

In [8]:
Accuracy= accuracy_score(y_test,y_pred)
Accuracy

1.0

In [9]:
y_pred_train = model.predict(X_train)
Accuracy_train = accuracy_score(y_train,y_pred_train)
Accuracy_train

1.0

In [10]:
MSE = mean_squared_error(y_test,y_pred)
MSE

0.0